{% extends "bootstrap/base.html" %}

{% block title %}
RedMec Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_home_navbar.html' %}

<div class="container">
    <div class="starter-template">
        <h1>RedMec</h1><br>
          <img src="" class="img-fluid img-round" width="462" height="357" alt="Responsive image">
        <p class="lead">Our mission is to build a secure way to store and access medical records. <br>
            We are using advance blockchain technology to manage records without worrying about any unwanted access, changes, or deletion. <br>
        </p>
          <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    </div>
</div><!-- /.container -->
{% endblock %}