{% extends "bootstrap/base.html" %}

{% block title %}
Main
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_dashboard_navbar.html' %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Records</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Patient ID</th>
                  <th>Provider</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
              {% for record in records %}
                {% if record != [] %}
                  <tr>
                    <td>{{ record['name'] }}</td>
                    <td>{{ record['patient_id'] }}</td>
                    <td>{{ record['provider'] }}</td>
                    <td>{{ record['timestamp'] }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
        </table>
    </div>
</div>

{% endblock %}